<div class="new-booking">
  <%= simple_form_for [@offre, @booking] do |f|  %>
    <%= f.input :depart %>
    <%= f.input :arrivee %>
    <%= f.submit "Valider", :class=>"btn btn-primary-sm" %>
  <% end %>

</div>
