<div class="container mt-5">
<h2>Modifier votre réservation</h2>
<%= render 'form', offre: @booking %>

<hr>
<%= link_to bookings_path do %>
<i class="fa-solid fa-arrow-rotate-left"></i> Retour
<% end %>
</div>
