
<% if current_page?(passager_bookings_path(current_user.passager)) %>
<% passager_booking = true %>
<% end %>
<% if current_page?(offres_path) %>
<% offre = true %>
<% end %>
<% if current_page?(conducteur_bookings_path(current_user.conducteur)) %>
<% conducteur_booking = true %>
<% end %>
<div class="tawsila-navbar" data-controller="navbar">
 <div class="sc-bottom-bar">
  <%= link_to passager_bookings_path(current_user.passager), class: "sc-menu-item #{passager_booking ? 'sc_current' : ''} " do  %>
    <i class="fa-solid fa-user"></i>
  <% end %>
   <span class="sc-nav-indicator"></span>
  <%= link_to offres_path, class: "sc-menu-item #{offre ? 'sc_current' : ''} " do  %>
    <i class="fa-solid fa-magnifying-glass"></i>
  <% end %>
  <%= link_to conducteur_bookings_path(current_user.conducteur), class: "sc-menu-item #{conducteur_booking ? 'sc_current' : ''} " do  %>
      <i class="fa-solid fa-car"></i>
  <% end %>

  </div>
</div>
