 <div>
    <%= link_to bookings_path do  %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
  <div class="search">
    <span>
      <%= link_to bookings_path do  %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </span>
  </div>
  <div>
    <%= link_to offres_path do  %>
      <i class="fa-solid fa-car"></i>
    <% end %>
  </div>
