:root {
    --primary-color: #0D6FFA;
    --accent-color: #49CE95;
    --danger-color: #EC3582;
    --fore-color: rgba(0, 0, 0, 0.65);
    --main-cast-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
}

.tawsila-navbar {
    .sc-bottom-bar {
      z-index:1000;
        position: fixed;
        display: flex;
        padding: 0 16px;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        bottom: 0;
        font-size: 14px;
        background-color: white;
        // background-image: radial-gradient(circle at 36px 6px, transparent 36px, #ffffff 37px);
        // filter: drop-shadow(0px -1px 6px rgba(0, 0, 0, 0.08)) drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.12));
        transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) .45s;
        align-items: center;
        box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 4px -1px rgba(0, 0, 0, 0.06);
        border-radius: 16px 16px 0px 0px;
        border: 1px solid #f1f5f9;
        gap: 60PX;

        img{
          height: 24px;
          width: 24px;
        }

        span{
          color: #94A3B8;
        }

    }
    .sc-menu-item {
        display: contents;
        gap: 8px;
        height: 72px;
        flex-grow: 1;
    }
    .selected {
        color: $t-black;
        border-top: 3px solid $t-black;
        // background-color: #f1f5f9;
        span{
          color: $t-black;
          font-weight: bold;
        }

        svg path{
          stroke: $t-black !important;
        }

    }
}
