.tawsila-navbar {
  display:flex;
  justify-content: space-around;
  background-color: #074063;
  position: absolute;
  bottom:0px;;
  width:100%;
  z-index: 99;
  div.search {
    position: relative;
    span {
      height: 96px;
      width: 96px;
      display: block;
      border-radius: 50%;
      background-color: red;
      position:absolute;
    }
  }
  div {
    padding: 8px;
  }
  i{
    font-size:36px;
    color: #fff;
  }
}
