<div class="container mt-5">
<h2>Modifier votre offre</h2>
<%= render 'form', offre: @offre %>

<hr>
<%= link_to offres_path do %>
<i class="fa-solid fa-arrow-rotate-left"></i> Retour
<% end %>
</div>
