<div class="container">
    <div class="listes-offres">
      <h2>Trajets disponibles</h2>
        <ul>
        <% @offres.each do |offre| %>
        <%= render "car_card", offre: offre %>

        <% end %>
        </ul>
    </div>

</div>
