<div class="container">
  <h2>Trajets disponibles</h2>
    <div class="listes-offres">
      <% @offres.each do |offre| %>
        <ul>
          <%= offre.description_trajet %>
        </ul>
      <% end %>
    </div>

</div>
