<div class="container">
      <h2>Trajets disponibles</h2>
    <div class="listes-offres">
        <ul>
        <% @offres.each do |offre| %>
        <%= render "car_card", offre: offre %>

        <% end %>
        </ul>
    </div>

    <div class="menu">

    </div>

</div>
