<div class="container mt-5">
<h4>Modifiez les informations de la voiture</h4>
<%= render 'form', voiture: @voiture %>

<hr>
<%= link_to voitures_path do %>
<i class="fa-solid fa-arrow-rotate-left"></i> Retour
<% end %>
</div>
